
/* ==========================================================================
   Base styles: 
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Barlow Condensed', sans-serif;


}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Nico's custom styles
   ========================================================================== */
.main-container{
    width:100vw;
    background-color: #fff;
}
ul{
    background-color: #fff;
    list-style: none;
    text-align: center;
    margin: 5px;
}
li{
    display: inline-block;
    padding: 0 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;

}
.fa{
    font-size: 16px;
    padding-right: 5px;
}
.logo{
    width: 300px;
    position: absolute;
    left: 0px;
    top: 45px;
    z-index: 999;
}
img{
    width:100vw;
}
.row{
    background-color: #fff!important;

}
.top-menu{
    background-color: #fff!important;
    padding: 5px;
}
.contenedor{
    width: 100vw;
    background-color: #fff;
}
a{
    color: #000;
    font-family: 'Barlow Condensed', sans-serif;


}

/*** RESPONSIVE ****/

/* Portrait and Landscape */
@media screen and (max-width: 680px) 
{
    .logo{
        width: 200px;
        position: relative;
        z-index:auto;
        margin: auto;
    }
    .top-menu{
        margin-top: 45px;
    }
    li{
        padding: 0 2px;
    
    }
    ul{
        padding: 0px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .logo{
        width: 150px;
        top: 65px;
    }

}